.modal-backdrop-custom{
  position: fixed; inset: 0;
  background: rgba(0,0,0,.45);
  z-index: 2000;
}

.modal-custom{
  position: fixed; inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  z-index: 2001;
}

.modal-card{
  width: 100%;
  max-width: 820px;
  border-radius: 10px;
}
