<div class="container-xl py-3">
   <p-toast></p-toast>
  <app-data-grid #grid [dataSource]="contas" [breadcrumb]="breadcrumb" [columns]="gridColumns"  [titulo]="'Cadastro de Contas'"
    [statusOptions]="statusOptions" [exibeCampos]="exibirCampos"
    [loading]="loading" (edit)="onEdit($event)" (new)="openCreate()" (delete)="onDelete($event)" (deleteSelected)="onDeleteSelected($event)"></app-data-grid>

  <!-- Modal do Form -->
  <app-conta-mensal-form
    *ngIf="showModalForm"
    [account]="editing"
    [categories]="categorias"
    (closed)="closeForm($event)">
  </app-conta-mensal-form>
</div>
