<div class="container-xl py-3">
   <p-toast></p-toast>
  <app-data-grid #grid [dataSource]="listas" [breadcrumb]="breadcrumb" [columns]="gridColumns"  [titulo]="'Cadastro de Listas'"
    [statusOptions]="statusOptions" [exibeCampos]="exibirCampos"
    [loading]="loading" (edit)="onEdit($event)"  (view)="abrirItemLista($event)" (new)="openCreate()" (delete)="onDelete($event)" (deleteSelected)="onDeleteSelected($event)"></app-data-grid>

  <!-- Modal Form -->

    <app-modal-nova-lista *ngIf="showModalCreate" [lista]="null" (closed)="fecharModalCriar($event)">
    </app-modal-nova-lista>

    <app-modal-nova-lista *ngIf="showModalUpdate" [lista]="editing" (closed)="fecharModalAtualizar($event)">
    </app-modal-nova-lista>
</div>