<!-- Backdrop -->
<div class="modal-backdrop-custom" (click)="close(false)"></div>

<!-- Modal -->
<div class="modal-custom" role="dialog" aria-modal="true">
    <div class="modal-card card modal-configuracao-vinculo-pessoa">

        <div class="card-header d-flex justify-content-between align-items-center">
            <h3 class="card-title m-0">Vínculos cadastrados</h3>
            <button type="button" class="btn-close" (click)="close(false)" aria-label="Fechar"></button>
        </div>

        <div class="card-body mb-4 p-0">
            <p-toast></p-toast>
            <app-data-grid #grid [dataSource]="pessoaMovimentacao" [columns]="gridColumns" [exibeCampos]="exibirCampos" (new)="addRow()" [loading]="loading" (saveInline)="onSaveInline($event)" (delete)="deleteRow($event)"  >
            </app-data-grid>
        </div>

        <div class="card-footer d-flex justify-content-end gap-2">
            <button class="btn btn-outline-secondary" (click)="close(false)">Fechar</button>
            <button class="btn btn-primary" (click)="onSaveAll()">Concluir</button>
        </div>

    </div>
</div>
