<div class="container-xl py-3">
    <app-data-grid #grid [dataSource]="itensLista" [breadcrumb]="breadcrumb" [columns]="gridColumns" [titulo]="titulo" [statusOptions]="statusOptions"
        [exibeCampos]="exibirCampos" [loading]="loading" (edit)="onEdit($event)" (new)="openCreate()"  (selectionChange)="onSelectionChange($event)"
        (delete)="onDelete($event)" (deleteSelected)="onDeleteSelected($event)">

        <app-contas-a-pagar-totais [receita]="selectedTotals.receita" [despesa]="selectedTotals.despesa"
            [saldo]="selectedTotals.saldo" [count]="selectedTotals.count"></app-contas-a-pagar-totais>

    </app-data-grid>
    <!-- Criar Item -->
    <app-modal-novo-item-lista *ngIf="showModalCreateItem" [listaId]="listaId" [tipoLista]="tipoLista" [item]="null"
        (closed)="closeCreate($event)">
    </app-modal-novo-item-lista>

    <!-- Editar Item -->
    <app-modal-novo-item-lista *ngIf="showModalUpdateItem" [listaId]="listaId" [tipoLista]="tipoLista" [item]="editing"
        (closed)="closeEdit($event)">
    </app-modal-novo-item-lista>
    <!-- 
    <app-config-status-colors *ngIf="showModalConfigCores" [statusOptions]="statusOptions" [colors]="statusColors"
        (closed)="onConfigCoresClosed($event)">
    </app-config-status-colors> -->

</div>