<div class="container-xl py-3">
  <p-toast></p-toast>
  <app-data-grid #grid [dataSource]="tipoMovimentacoes" [breadcrumb]="breadcrumb" [columns]="gridColumns"
    [titulo]="'Cadastro de Tipo Movimentação'" [exibeCampos]="exibirCampos" [loading]="loading" (edit)="onEdit($event)"
    (new)="openCreate()" (delete)="onDelete($event)" (deleteSelected)="onDeleteSelected($event)"></app-data-grid>

  <!-- Modal Form -->
  <app-tipo-movimentacao-form *ngIf="showModalForm" [item]="editing" (closed)="closeForm($event)">
  </app-tipo-movimentacao-form>

</div>