<div class="modal-backdrop fade show" (click)="close(false)"></div>

<!-- Modal -->
<div class="modal modal-blur fade show d-block" tabindex="-1" role="dialog" aria-modal="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">{{ account ? 'Editar Conta' : 'Nova Conta' }}</h3>
        <button type="button" class="btn-close" (click)="close(false)" aria-label="Fechar"></button>
      </div>

      <div class="modal-body" [formGroup]="form">
        <div class="mb-3">
          <label class="form-label">Nome</label>
          <input class="form-control" formControlName="name"
            [class.is-invalid]="form.controls.name.touched && form.controls.name.invalid" />
          <div class="invalid-feedback" *ngIf="form.controls.name.touched && form.controls.name.invalid">
            Informe um nome válido.
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label">Valor</label>
          <input class="form-control" type="text" inputmode="decimal" formControlName="value" appMoneyMaskBR
            [class.is-invalid]="form.controls.value.touched && form.controls.value.invalid" />

          <div class="invalid-feedback" *ngIf="form.controls.value.touched && form.controls.value.invalid">
            Informe um valor.
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label">Dias Vencimentos</label>
          <input type="text" class="form-control" formControlName="dataOperacao" placeholder="Ex: 5, 20"
            (input)="onInputChange(($any($event.target)).value)" (blur)="onDiasChange(($any($event.target)).value)"
            [class.is-invalid]="form.controls.value.touched && form.controls.value.invalid" />
          <div class="invalid-feedback" *ngIf="form.controls.value.touched && form.controls.value.invalid">
            Informe ao menos um dia de vencimento.
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label">Categoria</label>
          <select class="form-select" formControlName="categoryid"
            [class.is-invalid]="form.controls.categoryid.touched && form.controls.categoryid.invalid">
            <option [ngValue]="null">Selecione...</option>
            <option *ngFor="let c of categories" [ngValue]="c.id">{{ c.name }}</option>
          </select>
          <div class="invalid-feedback" *ngIf="form.controls.categoryid.touched && form.controls.categoryid.invalid">
            Selecione uma categoria.
          </div>
        </div>
        <div class="mb-3">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" formControlName="ehParcelado" id="parceladoCheck" />
            <label class="form-check-label" for="parceladoCheck">Conta parcelada</label>
          </div>
        </div>

        <div class="row" *ngIf="form.get('ehParcelado')?.value">
          <div class="mb-3 col-6">
            <label class="form-label">Total de parcelas</label>
            <input type="number" min="2" class="form-control" formControlName="quantidadeParcelas" />
          </div>
          <div class="mb-3 col-6">
            <label class="form-label">Parcela atual</label>
            <input type="number" min="1" class="form-control" formControlName="parcelaAtual" />
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label">Status</label>
          <select class="form-select" formControlName="status"
            [class.is-invalid]="form.controls.status.touched && form.controls.status.invalid">
            <option [ngValue]="0">Inativo</option>
            <option [ngValue]="1">Ativo</option>
          </select>
          <div class="invalid-feedback" *ngIf="form.controls.status.touched && form.controls.status.invalid">
            Selecione uma categoria.
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="close(false)">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="save()" [disabled]="saving || form.invalid">
          {{ saving ? 'Salvando...' : 'Salvar' }}
        </button>
      </div>
    </div>
  </div>
</div>