<div class="container-xl py-3">
  <p-toast></p-toast>
  <app-data-grid #grid [dataSource]="extratoMensal" [breadcrumb]="breadcrumb" [columns]="gridColumns" (saveInline)="onSaveInline($event)"
    (reload)="loadMonth()" [titulo]="titulo" [dateFilter]="dateFilter" [localStorage]="'dataFiltroDetalheExtrato'" (selectionChange)="onSelectionChange($event)" (delete)="onDelete($event)" (deleteSelected)="onDeleteSelected($event)"
    [itemsButtom]="itemsButtom" [exibeCampos]="exibirCampos" [loading]="loading">
    <app-contas-a-pagar-totais [receita]="selectedTotals.receita" [despesa]="selectedTotals.despesa"
      [saldo]="selectedTotals.saldo" [count]="selectedTotals.count"></app-contas-a-pagar-totais>

    <!-- MODAL ADICIONAR -->
    <ng-container *ngIf="showAddModal">
      <div class="modal show d-block" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" style="margin-top:100px" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">
                Adicionar lançamento manual <span *ngIf="isCreditCard">(Cartão de crédito)</span>
              </h5>
              <button type="button" class="btn-close" (click)="closeAddModal()" [disabled]="saving"></button>
            </div>

            <div class="modal-body">
              <div class="row g-3">
                <div class="col-12 col-md-4">
                  <label class="form-label">Data</label>
                  <input type="date" class="form-control" [(ngModel)]="manualData" [disabled]="saving" />
                </div>

                <div class="col-12 col-md-4">
                  <label class="form-label">Tipo lançamento</label>
                  <select class="form-select" [(ngModel)]="manualTipoLancamento" [disabled]="saving">
                    <option value="Entrada">Entrada</option>
                    <option value="Saída">Saída</option>
                  </select>
                  <!-- <div class="form-text">
                      Se for <strong>DEBITO</strong> e você digitar positivo, eu salvo negativo.
                    </div> -->
                </div>

                <div class="col-12 col-md-4">
                  <label class="form-label">Valor</label>
                  <input type="text" inputmode="decimal" class="form-control" [(ngModel)]="manualValor"
                    appMoneyMaskBR />
                </div>

                <ng-container *ngIf="isCreditCard">
                  <div class="col-12 col-md-4">
                    <label class="form-label">Número da fatura</label>
                    <input type="text" class="form-control" placeholder="Ex.: 2026-01" [(ngModel)]="manualNumeroFatura"
                      [disabled]="true" />
                  </div>

                  <div class="col-12 col-md-4 d-flex align-items-end">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" [(ngModel)]="manualParcelado" [disabled]="saving"
                        id="parceladoCheck" />
                      <label class="form-check-label" for="parceladoCheck">Compra parcelada</label>
                    </div>
                  </div>

                  <ng-container *ngIf="manualParcelado">
                    <div class="col-12 col-md-4">
                      <label class="form-label">Total de parcelas</label>
                      <input type="number" min="2" class="form-control" [(ngModel)]="manualQuantidadeParcelas"
                        [disabled]="saving" />
                    </div>
                    <div class="col-12 col-md-4">
                      <label class="form-label">Parcela atual</label>
                      <input type="number" min="2" class="form-control" [(ngModel)]="manualParcelaAtual"
                        [disabled]="saving" />
                    </div>

                    <div class="col-12 col-md-6 d-flex align-items-end">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" [(ngModel)]="manualGerarTodasParcelas"
                          [disabled]="saving" id="gerarParcelasCheck" />
                        <label class="form-check-label" for="gerarParcelasCheck">
                          Gerar todas as parcelas automaticamente
                        </label>
                      </div>
                    </div>
                  </ng-container>
                </ng-container>

                <!-- <div class="col-12 col-md-6">
                    <label class="form-label">Categoria</label>
                    <select class="form-select" [(ngModel)]="manualCategoriaId" [disabled]="saving">
                      <option value="">Selecione...</option>
                      <option *ngFor="let c of categorias" [value]="c.id">
                        {{ c.name }}
                      </option>
                    </select>
                  </div> -->

                <div class="col-12 col-md-6">
                  <label class="form-label">Pessoa transação</label>
                  <input type="text" class="form-control text-uppercase" [(ngModel)]="manualPessoaNome"
                    (ngModelChange)="manualPessoaId = null" [ngbTypeahead]="searchPessoa"
                    [inputFormatter]="formatterPessoa" [resultFormatter]="formatterPessoa"
                    (selectItem)="manualPessoaNome = $event.item.nomePessoa; manualPessoaId = $event.item.id" />
                </div>

                <div class="col-12 col-md-6">
                  <label class="form-label">Descrição</label>
                  <input type="text" class="form-control" [(ngModel)]="manualDescricao" [disabled]="saving" />
                </div>

                <div class="col-12">
                  <label class="form-label">Detalhes</label>
                  <textarea class="form-control" rows="3" [(ngModel)]="manualObservacao" [disabled]="saving"></textarea>
                </div>

                <!-- <div class="col-12 col-md-6">
                    <label class="form-label">Identificador</label>
                    <input type="text" class="form-control" [(ngModel)]="manualIdentificador" [disabled]="saving" />
                  </div> -->
              </div>
            </div>

            <div class="modal-footer">
              <button class="btn btn-secondary" (click)="closeAddModal()" [disabled]="saving">Cancelar</button>
              <button class="btn btn-primary" (click)="handleSaveManual()" [disabled]="saving">
                {{ saving ? 'Salvando...' : 'Salvar' }}
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-backdrop fade show"></div>
    </ng-container>

    <app-modal-configuracao-vinculo-pessoa *ngIf="showModalConfigPessoas"
      (closed)="showModalConfigPessoas = false; $event">
    </app-modal-configuracao-vinculo-pessoa>