<div class="container-xl py-3">
  <p-toast></p-toast>
  <app-data-grid #grid [dataSource]="tipoCartoes" [breadcrumb]="breadcrumb" [columns]="gridColumns"
    [titulo]="'Cadastro de Tipo Cartão'" [exibeCampos]="exibirCampos" [loading]="loading"
    (edit)="onEdit($event)" (new)="openCreate()" (delete)="onDelete($event)"
    (deleteSelected)="onDeleteSelected($event)"></app-data-grid>

  <!-- MODAL CREATE/EDIT -->
  <app-tipo-cartao-form *ngIf="showModalForm" [item]="editing" (closed)="closeForm($event)">
  </app-tipo-cartao-form>

</div>